<!-- Main Content -->
<div id='content' role='main'>
  <section class='section alt' id='promo'>
    <div class='container'>
      <div class='hero-unit'>
        <h1>What is BDD Kickstart?</h1>
        <p>
          In three days, we'll teach you everything you need to be off and running with Behaviour-Driven Development.
        </p>

        <p>
          We'll start by teaching you the <a href="#fundamentals">fundamental principles</a> of BDD, and how it fits
          into the wider world of agile. We'll show you how to run specification workshops to explore new functionality as a
          collaborative activity, and show you how to express those specifications as executable Cucumber tests.
        </p>

        <p>
          Then we'll start <a href="#applied">applying those fundamentals in practice</a>. We'll show you how to automate
          your application, whether it's a Java web service, a rich AJAX web application or a Flash game. We'll explore
          what to do as your test suite grows in size, and prepare you for the major hurdles most teams run into
          as they start to adopt BDD.
        </p>

        <p>
          Read further for <a href='#learningoutcomes'>full details of our learning outcomes</a>. We recommend attending the full course, but you can book one of the individual modules if you prefer.</p>
      </div>
      <div class='hero-unit pull-left'>
        <h2>
          <a class="btn btn-primary btn-large" href="/dates#<%= events.first.id %>">Book BDD Kickstart</a>
          <small>Next date: <%= course_date_range(events.select { |e| e.type == :bdd }.first.full_date) %>, <%= events.first.title %></small>
        </h2>
      </div>
    </div>
  </section>
  <section class='section' id='fundamentals'>
    <div class='container'>
      <div class='page-header'>
        <h1>
          BDD Fundamentals
          <small>One-day workshop for anyone involved in software delivery.</small>
        </h1>
      </div>
      <div class='row-fluid'>
        <ul class='thumbnails bordered'>
          <li class='span6'>
            <div class='row-fluid'>
              <div class='span4 pull-center'>
                <i class='icon-refresh enormous-icon circled pull-center'></i>
              </div>
              <div class='span8'>
                <h3>Faster feedback</h3>
                <p>
                  Agile software development is all about feedback. Learn how BDD tightens the feedback loop by exploring new functionality without writing any code.
                </p>
              </div>
            </div>
            <hr>
            <div class='row-fluid'>
              <div class='span4 pull-center'>
                <i class='icon-comments enormous-icon circled pull-center'></i>
              </div>
              <div class='span8'>
                <h3>Focussed Communication</h3>
                <p>
                  Nobody likes meetings, yet conversation is the heart of an agile team. Learn to facilitate
                  a <i>3 amigos</i> specification workshop that's fast and effective.
                </p>
              </div>
            </div>
            </hr>
          </li>
          <li class='span6'>
            <div class='row-fluid'>
              <div class='span4 pull-center'>
                <i class='icon-group enormous-icon circled pull-center'></i>
              </div>
              <div class='span8'>
                <h3>Enhanced Teamwork</h3>
                <p>
                  Explore how adopting BDD will change your current working practices, and make decisions about how you'll implement what you've learned.
                </p>
              </div>
            </div>
            <hr>
            <div class='row-fluid'>
              <div class='span4 pull-center'>
                <i class='icon-ok-sign enormous-icon circled pull-center'></i>
              </div>
              <div class='span8'>
                <h3>Living documentation</h3>
                <p>
                  Learn how to write specifications that not only document how your system behaves, but are guaranteed to be accurate.
                </p>
              </div>
            </div>
            </hr>
          </li>
        </ul>
      </div>
      <div class='row-fluid'>
        <div class='hero-unit pull-left'>
          <h2>
            <a class="btn btn-primary btn-large" href="/dates#<%= events.first.id %>">Book BDD Fundamentals</a>
            <small>Next date: <%= course_date(events.select { |e| e.type == :bdd }.first.fundamentals_date) %>, <%= events.first.title %></small>
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section class='section alt' id="applied">
    <div class='container'>
      <div class='page-header'>
        <h1>
          BDD Applied
          <small>Two-day technical workshop for developers, testers and architects.</small>
        </h1>
      </div>
      <div class='row-fluid'>
        <ul class='thumbnails bordered'>
          <li class='span6'>
            <div class='row-fluid'>
              <div class='span4 pull-center'>
                <i class='icon-key enormous-icon circled pull-center'></i>
              </div>
              <div class='span8'>
                <h3>Key examples</h3>
                <p>
                  With practical examples, we'll show you how to decide which
                  scenarios should be expressed in business-readable tests, and which belong as unit tests, so you can
                  avoid becoming overwhelmed by detail.
                </p>
              </div>
            </div>
            <hr>
            <div class='row-fluid'>
              <div class='span4 pull-center'>
                <i class='icon-cogs enormous-icon circled pull-center'></i>
              </div>
              <div class='span8'>
                <h3>Maintainable test code</h3>
                <p>
                  Good tests are a valuable asset, but poorly-maintained tests become a burden. We'll show you how
                  to structure your tests so they stay fun to work with in the long run.
                </p>
              </div>
            </div>
            </hr>
          </li>
          <li class='span6'>
            <div class='row-fluid'>
              <div class='span4 pull-center'>
                <i class='icon-beaker enormous-icon circled pull-center'></i>
              </div>
              <div class='span8'>
                <h3>Automation labs</h3>
                <p>
                  There are as many methods of automating an application as there are development stacks. We'll help you pick the right tool for the job, and give you a chance to practice using it while we're around to help.
                </p>
              </div>
            </div>
            <hr>
            <div class='row-fluid'>
              <div class='span4 pull-center'>
                <i class='icon-briefcase enormous-icon circled pull-center'></i>
              </div>
              <div class='span8'>
                <h3>Carrying Legacy Baggage?</h3>
                <p>
                  You're probably working on existing projects rather than starting shiny new ones. We'll show you
                  pragmatic steps to enjoy the benefits of BDD on an existing application with no test coverage.
                </p>
              </div>
            </div>
            </hr>
          </li>
        </ul>
      </div>
      <div class='row-fluid'>
        <div class='hero-unit pull-left'>
          <h2>
            <a class="btn btn-primary btn-large" href="/dates#<%= events.first.id %>">Book BDD Applied</a>
            <small>Next date: <%= course_date_range(events.select { |e| e.type == :bdd }.first.applied_date) %>, <%= events.first.title %></small>
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section class='section'>
    <a class='anchor' name='learningoutcomes'></a>
    <div class='container'>
      <div class='page-header'>
        <h1>
          Detailed Learning Outcomes
        </h1>
      </div>
      <div class='row-fluid'>
        <div class='span12'>
          <p>By the end of BDD Fundamentals, we expect delegates to have learned:</p>
          <ul>
            <li>What BDD is and why it is useful</li>
            <li>The relationship between test automation, refactoring, and sustainable agility</li>
            <li>The costs and benefits of test automation</li>
            <li>The benefits of developing a ubiquitous language for their project</li>
            <li>The difference between user stories, acceptance criteria, and scenarios</li>
            <li>Lead a "3 amigos" discovery workshop to discover scenarios for a user story</li>
            <li>The role of testers, developers and project managers on a BDD team</li>
            <li>The Gherkin syntax for test automation in Cucumber / SpecFlow</li>
            <li>The structure of a Cucumber test suite</li>
          </ul>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span12'>
          <p>By the end of BDD Applied, we expect delegates to have learned:</p>
          <ul>
            <li>Why scenarios must not leak state</li>
            <li>To set up a simple project in Cucumber</li>
            <li>The trade offs between scenarios written at different levels of abstraction.</li>
            <li>To refactor and improve scenarios written in an unmaintainable style</li>
            <li>To structure a test suite for long-term maintainability</li>
            <li>Test web applications using Capybara or Coypu with Selenium Webdriver</li>
            <li>To apply the techniques to their own project</li>
          </ul>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='hero-unit pull-left'>
          <h2>
            <a class="btn btn-primary btn-large" href="/dates#<%= events.first.id %>">Book BDD Kickstart</a>
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section class='section alt' id="feedback">
    <div class='container'>
      <div class='page-header'>
        <h1>
          Feedback?
          <small>Have you been to BDD Kickstart? Please leave a comment here.</small>
        </h1>
      </div>
      <div class='row-fluid'>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          var disqus_shortname = 'bddkickstart';
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
      </div>
    </div>
  </section>
</div>
