<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <!-- %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"} -->
    <title><%= subject.course_title %></title>
    <meta content='width=device-width' name='viewport' />
    <!--[if lt IE 9]>
    <script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
    <link href='favicon.ico' rel='shortcut icon' />
    <link href='images/apple-touch-icon-144-precomposed.png' rel='apple-touch-icon-precomposed' sizes='144x144' />
    <link href='images/apple-touch-icon-114-precomposed.png' rel='apple-touch-icon-precomposed' sizes='114x114' />
    <link href='images/apple-touch-icon-72-precomposed.png' rel='apple-touch-icon-precomposed' sizes='72x72' />
    <link href='images/apple-touch-icon-57-precomposed.png' rel='apple-touch-icon-precomposed' />
    <link href="stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/font-awesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/theme.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/fonts.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body class='theme-pattern-tiny-grid theme-color-green'>
    <!-- Page Header -->
    <header id='masthead'>
      <nav class='navbar navbar-fixed-top'>
        <div class='navbar-inner'>
          <div class='container'>
            <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </a>
            <h1 class='brand'>
              <a href='/'>
                <%= subject.course_title %>
                <img src="images/logo.png" width="40px"></img>
              </a>
            </h1>
            <div class='nav-collapse'>
              <ul class='nav pull-right'>
                <li class='<%= active(:home) %>'><a href="/">Home</a></li>
                <li class='<%= active(:blog) %>'><a href="/blog">Blog</a></li>
                <li class=''><a href="/details">Course Details</a></li>
                <li class='<%= active(:dates) %> dropdown'>
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dates</a>
                  <ul class='dropdown-menu'>
                    <% events.each do |event| %>
                      <li>
                        <a href="/dates#<%= event.id %>">
                          <%= event.title %>
                          <%= course_date_range(event.full_date) %>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </li>
                <li class='<%= active(:onsite) %>'><a href="/in-house-courses">In-house</a></li>
                <li class=''><a href="/about">About us</a></li>
                <li class='active'><a href="/dates">Book now</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div id='content' role='main'>
      <%= yield %>
    </div>
    <!-- Page Footer -->
    <footer class='section' id='footer' role='contentinfo'>
      <div class='container'>
        <div class='row-fluid'>
          <div class='span4'>
            <h3 id="contact-us">Contact us</h3>
            <p>
              Do you have a question? Would you like the training in your city, or your company?
              Just want to say hello? We'd love to hear from you.
            </p>
            <ul class='icons'>
              <li>
                <i class='icon-envelope'></i>
                <a href='mailto:hello@bddkickstart.com'>Matt and Chris</a>
              </li>
              <li>
                <i class='icon-twitter'></i>
                <a href='http://twitter.com/<%= subject.twitter %>/' target='_blank'>@<%= subject.twitter %></a>
              </li>
            </ul>
          </div>
          <div class='span4'>
            <h3>Recent news</h3>
            <ul class='icons'>
              <% tweets.each do |tweet| %>
                <li>
                  <p><i class='icon-twitter'></i><%= markup_tweet(tweet.text) %>
                    <small>
                      by
                      <a href='http://twitter.com/<%= tweet.from_user %>'>@<%= tweet.from_user %></a>
                    </small>
                  </p>
                </li>
              <% end %>
            </ul>
            <a href="https://twitter.com/<%= subject.twitter %>">more...</a>
          </div>
          <div class='span4'>
            <h3>Latest posts</h3>
            <ul class='icons'>
              <% blog_articles[0, 5].each do |article| %>
                <li>
                  <p><i class='icon-file'></i>
                    <a href='/blog#<%= slugify(article.id) %>'><%= article.title %></a>
                    <small>
                      <abbr class='timeago' title='<%= article.published.iso8601 %>'><%= friendly_date(article.published) %></abbr>
                    </small>
                  </p>
                </li>
              <% end %>
            </ul>
            <a href="/blog">more...</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="javascripts/bootstrap.js" type="text/javascript"></script>
  <script src="javascripts/script.js" type="text/javascript"></script>
  <script src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>
  <script type='text/javascript'>
    //<![CDATA[
    // Call the google map
    <% events.each do |event| %>
      <% event.with_venue do |venue| %>
        mapInit('<%= venue.name %>', '<%= event.id %>', <%= venue.lat %>, <%= venue.lng %>);
      <% end %>
    <% end %>
  //]]>
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-431118-15']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

   </script>
   <script type="text/javascript" src="javascripts/jquery.timeago.js"></script>
   <script>
     jQuery(document).ready(function() {
       jQuery("abbr.timeago").timeago();
     });
   </script>
 </html>
